@model IEnumerable<Ventas.Models.PedidoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>PEDIDO</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ClienteModelID)
                
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.EstadoPedidoModelId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FechaPedido)
            </td>
            <td>
                @Html.DisplayFor(model => item.Total)
            </td>
            <td>
                    @Html.DisplayFor(model => item.Cliente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EstadoPedido.NombreEstado)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Pedido_Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Pedido_Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Pedido_Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
