@model IEnumerable<Ventas.Models.EstadoPedidoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>ESTADO PEDIDO</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.NombreEstado)
            </td>
            <td>
                @Html.DisplayFor(model => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(model => item.CodigoColor)
            </td>
            <td>
                @Html.DisplayFor(model => item.Activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Estado_Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Estado_Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Estado_Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
