@model IEnumerable<Ventas.Models.ProductoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>PRODUCTO</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(model => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(model => item.Categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Producto_Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Producto_Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Producto_Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
