@model IEnumerable<Ventas.Models.ClienteModel>

@{
    ViewData["Title"] = "Index";
}

<h1>CLIENTE</h1>

<p>
    <a asp-action="Create">Nuevo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(model => item.correo)
            </td>
            <td>
                @Html.DisplayFor(model => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(model => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cliente_Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Cliente_Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Cliente_Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
