@model IEnumerable<Ventas.Models.DetallePedidoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>DETALLE PEDIDO</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoModelId)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ProductoModelId)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(model => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(model => item.PedidoModelId)
            </td>
          
            <td>
                @Html.DisplayFor(model => item.ProductoModelId)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Detalle_Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Detalle_Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Detalle_Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
